.tueri__imageContainer {
  position: relative;
  margin: 0;
}
.tueri__imageContainer img.tueri__image--fullsize {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s ease;
}
.tueri__imageContainer img.tueri__image--thumbnail {
  width: 100%;
  filter: blur(5px);
  opacity: 1;
  transition: all 0.5s ease;
}
.tueri__imageContainer img.tueri__image--thumbnail.loaded {
  opacity: 1;
  transition: all 0.5s ease;
}
.tueri__imageContainer img.tueri__image--thumbnail.fadeOut {
  opacity: 0;
  transition: all 0.5s ease;
}
.tueri__imageContainer img.tueri__image--fullsize.loaded {
  opacity: 1;
  transition: all 0.5s ease;
}
